In [1]:
#In these example we are seeing that --> whats the error rate of the algorithms which are used to train the data 
#here we are taking 2 algorithms randomforestregressor() and linearregression()
import pandas as pd
df = pd.read_csv('/content/winequality-red.csv')

In [2]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [5]:
x=df.iloc[:,0:-1]

In [6]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [7]:
y=df.iloc[:,-1]

In [8]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [11]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1005,6.8,0.360,0.32,1.80,0.067,4.0,8.0,0.99280,3.36,0.55,12.8
193,7.6,0.550,0.21,2.20,0.071,7.0,28.0,0.99640,3.28,0.55,9.7
999,6.4,0.690,0.00,1.65,0.055,7.0,12.0,0.99162,3.47,0.53,12.9
342,10.9,0.390,0.47,1.80,0.118,6.0,14.0,0.99820,3.30,0.75,9.8
1024,7.7,0.580,0.01,1.80,0.088,12.0,18.0,0.99568,3.32,0.56,10.5
...,...,...,...,...,...,...,...,...,...,...,...
1248,6.9,0.410,0.33,2.20,0.081,22.0,36.0,0.99490,3.41,0.75,11.1
194,7.6,0.550,0.21,2.20,0.071,7.0,28.0,0.99640,3.28,0.55,9.7
378,11.4,0.625,0.66,6.20,0.088,6.0,24.0,0.99880,3.11,0.99,13.3
539,11.2,0.500,0.74,5.15,0.100,5.0,17.0,0.99960,3.22,0.62,11.2
204,7.0,0.430,0.36,1.60,0.089,14.0,37.0,0.99615,3.34,0.56,9.2

In [12]:
x_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
662,7.2,0.570,0.06,1.6,0.076,9.0,27.0,0.99720,3.36,0.70,9.600000
1433,6.1,0.400,0.16,1.8,0.069,11.0,25.0,0.99550,3.42,0.74,10.100000
1377,5.2,0.490,0.26,2.3,0.090,23.0,74.0,0.99530,3.71,0.62,12.200000
1282,7.9,0.765,0.00,2.0,0.084,9.0,22.0,0.99619,3.33,0.68,10.900000
525,10.4,0.640,0.24,2.8,0.105,29.0,53.0,0.99980,3.24,0.67,9.900000
...,...,...,...,...,...,...,...,...,...,...,...
507,11.2,0.670,0.55,2.3,0.084,6.0,13.0,1.00000,3.17,0.71,9.500000
239,8.2,1.000,0.09,2.3,0.065,7.0,37.0,0.99685,3.32,0.55,9.000000
1326,6.7,0.460,0.24,1.7,0.077,18.0,34.0,0.99480,3.39,0.60,10.600000
449,11.9,0.390,0.69,2.8,0.095,17.0,35.0,0.99940,3.10,0.61,10.800000
1441,7.4,0.785,0.19,5.2,0.094,19.0,98.0,0.99713,3.16,0.52,9.566667

In [13]:
y_train

1005    7
193     5
999     6
342     6
1024    7
       ..
1248    6
194     5
378     6
539     5
204     6
Name: quality, Length: 1119, dtype: int64

In [14]:
y_test

662     6
1433    7
1377    6
1282    6
525     5
       ..
507     6
239     6
1326    6
449     6
1441    6
Name: quality, Length: 480, dtype: int64

In [15]:
#block 1
#here we are taking randomforestregressor algorithm. 
#in that we finding out the mean square error and mean absolute error then we are comparing these error rates with the error rates of the other algorithm 
#which on of the error rate is less we conclude that algo.
from sklearn.ensemble import RandomForestRegressor

In [16]:
rfr=RandomForestRegressor()

In [17]:
rfr.fit(x_train,y_train)

RandomForestRegressor()

In [18]:
y_pred=rfr.predict(x_test)

In [19]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [20]:
mae=mean_absolute_error(y_test,y_pred)

In [21]:
mae

0.44299999999999995

In [22]:
mse=mean_squared_error(y_test,y_pred)

In [24]:
mse

0.35812374999999996

In [25]:
#block 2
#here we are taking linearregression algorithm
#same taking out the error rates from these algo training

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr=LinearRegression()

In [28]:
lr.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred=lr.predict(x_test)

In [32]:
mae1=mean_absolute_error(y_test,y_pred)

In [33]:
mae1

0.5039237695690044

In [34]:
mse1=mean_squared_error(y_test,y_pred)

In [35]:
mse1

0.41589231684662425

In [ ]:
#therefor we conclude that the error rates of randonforestregressor is less
#so it is best and efficient way of analys the data with less error rates.
#mae = .44 and mse = .35 when comes to other algo mae1 = .50 mse1 = .41